# Copy this file to /home/webcdr/
#
# Put in the MySQL user name and password you created for the extract_vos3000_data script.
#
# Make sure that it is owned by the user webcdr and that the read/write permissions are restricted to the user webcdr:
#
# chown webcdr /home/webcdr/.my.cnf
# chmod 600 /home/webcdr/.my.cnf

[client]
user=webcdr
password=password-for-webcdr
